<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediCare.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MediCare.My.MySettings>
            <setting name="dbServer" serializeAs="String">
                <value>192.168.11.254</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>clinic</value>
            </setting>
            <setting name="dbUsername" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>SysLab*2012</value>
            </setting>
        </MediCare.My.MySettings>
    </userSettings>
</configuration>